body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    width: 500px;
    height: 500px;
}